.header__button {
    color: #52503b;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    border-style: none;
    padding: 11px 18px;
    margin: 30px 0;
    font-size: 16px;
    line-height: 20px;
    height: 42px;
    width: 117px;
}

.header__button:hover {
    cursor: pointer;
}
